body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
  position: static;
}

main ul {
  width: 80rem;
  margin: 0 auto;
}

main ul li {
  display: flex;
  background-color: #fff;
}

main ul li img {
  width: 30rem;
  height: auto;
}

.item-content {
  padding: 2.4rem;
}
