body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

header {
  position: static;
}

main ul {
  width: 120rem;
  margin: 0 auto;
  padding: 3.6rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

main ul li {
  display: flex;
  /* justify-content: space-between; */
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  border-radius: 6px;
  overflow: hidden;
}

main ul li:nth-of-type(3n) {
  grid-column: 1 / span 2;
}

main ul li img {
  width: 20rem;
  height: auto;
  /* object-fit: cover; */
}

.item-content {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* justify-content: space-between; */
}

.item-content h2 {
  margin-bottom: 1.6rem;
}

.item-content div {
  text-align: right;
  margin-top: auto;
}

.item-content div a:link,
.item-content div a:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: var(--card-link-color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  padding: 0.4rem 1.2rem;
  border-radius: 3px;
}

.item-content div a:hover,
.item-content div a:active {
  color: #fff;
  background-color: var(--card-link-color);
}

#page-logo a:link,
#page-logo a:visited {
  color: rgb(183, 230, 235);
}

nav ul li a:link,
nav ul li a:visited {
  color: rgb(183, 230, 235);
}

nav ul li a:hover,
nav ul li a:active {
  color: rgb(59, 59, 59);
  background-color: rgb(183, 230, 235);
}
