:root {
  --primary-color: rgb(255, 251, 0);
  --default-box-shadow: 2px 4px 8px rgb(68, 67, 67);
  --default-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  /* font-family: "Raleway", sans-serif; */
}

ul {
  list-style: none;
}

header {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* flex-flow: column nowrap; */
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#page-logo a:link,
#page-logo a:visited {
  padding: 1rem;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--default-text-shadow);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  text-align: right;
  margin-left: 2rem;
}

nav ul li a:link,
nav ul li a:visited {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
  padding: 1.2rem;
  text-shadow: var(--default-text-shadow);
  border-radius: 6px;
}

nav ul li a:hover,
nav ul li a:active {
  color: rgb(77, 77, 77);
  background-color: var(--primary-color);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 3.6rem;
}

footer ul {
  display: flex;
  justify-content: center;
  /* gap: 2rem; */
}

footer ul li {
  width: 8rem;
  height: 8rem;
  margin: 0 3.6rem;
}

footer ul li a img {
  display: block;
  width: 100%;
  height: auto;
}
