#hero {
  height: 80rem;
  background: url("/images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-content {
  width: 90rem;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: var(--default-box-shadow);
  border-radius: 8px;
  text-align: center;
  padding: 5rem 0;
  margin: 0 auto;
  position: relative;
  top: 20rem;
}

#hero-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
}

#hero-content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}

#hero-content a:link,
#hero-content a:visited {
  display: inline-block;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 1.2rem 2.4rem;
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: var(--default-box-shadow);
}

#hero-content a:hover,
#hero-content a:active {
  background-color: rgb(255, 238, 0);
}

#highlights {
  padding: 2.4rem;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.6rem;
  color: rgb(59, 65, 64);
  margin: 3rem 0;
}

#destinations {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto 4rem;
}

.destination {
  margin: 0 2rem;
  text-transform: uppercase;
}

.destination img {
  height: 20rem;
  width: 100%;
  /* height: auto; */
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  font-size: 2.4rem;
  color: rgb(124, 123, 123);
  margin-top: 2rem;
}

.destination p strong {
  color: rgb(0, 160, 117);
}
